ion-title {
    --color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: all-petite-caps;
    text-align: center;
  }
  
 ion-content {
  .logo {
      height: 30vh;
     padding: 20px;
     display: flex;
     justify-content: center;
     margin-bottom: 50px;
      img {
        max-height: 100%;
      }
    }
    form {
      background-color: rgb(30, 30, 30);
      padding: 5px;
      width: 100%;
      min-height: 55vh;
      margin: 0 auto;
    }
 }
 

  p {
    text-align: center;
    font-size: 22px;
  }
  
  ion-button {
    margin-bottom: 20px;
  }