<ion-header>
  <ion-toolbar>
    <ion-title>Add Song</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="backward">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <form [formGroup]="createSongForm" (submit)="createSong()" class="add-song-form">
      <!--Header-->
     
          <h3>Enter Details</h3>
    

    <ion-item>
      <ion-label position="floating">Song Title</ion-label>
      <ion-input formControlName="songName" type="text" placeholder="What's the name of the song?">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Artist Name</ion-label>
      <ion-input formControlName="artistName" type="text" placeholder="Who is the creator of this song?">
      </ion-input>
    </ion-item>

   
    <ion-item>
      <ion-label position="floating">File (.mp3)</ion-label>
      <ion-input formControlName="fileName" type="text"  placeholder="Enter file path">
      </ion-input>
    </ion-item>

    <ion-button class="add-btn" expand="block" type="submit" [disabled]="!createSongForm.valid">
      Add Song
    </ion-button>
  </form>
 
  
</ion-content>