ion-title {
    --color: rgb(121, 121, 121);
 
 
    text-align: center !important;
    text-transform: uppercase !important;
    font-family: Poppins !important;
}


ion-header {
  
    margin-bottom: 20px;

    ion-toolbar {

        display: flex;

        ion-button {
            float: right;

        }
    }

    
}

form {
   
    margin: 0 auto;
    padding: 0px;
    .form-header {
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        font-family: Poppins;
    }
    ion-label {
        font-family: PoppinsLight;
        font-size: 16px;
    }
    ion-input {
        font-size: 14px;
        letter-spacing: 1px;
        font-family: PoppinsLight;
    }
}

.add-btn {
    margin-top: 20px;
}