ion-menu::part(backdrop) {
    background-color: rgba(0, 128, 255, 0.643);
}

ion-menu::part(container) {
    box-shadow: 4px 0px 16px rgba(0, 149, 255, 0.18);
}

ion-title {
    --color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: Poppins;
}

ion-content {
    ion-list {

        ion-item {
            padding: 20px 0px;

            ion-label {
                font-family: PoppinsLight;
                letter-spacing: 1px;
                cursor: pointer;

            }
        }
    }

}