ion-title {
    --color: rgb(121, 121, 121);
    font-size: 18px;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-list-header {
    background-image: linear-gradient(-90deg,
            #ff53c8,

            #6e57f3);
    text-transform: uppercase;
    border-radius: 10px;

   
}



ion-header {

    margin-bottom: 40px;

    ion-toolbar {

        display: flex;

        ion-button {
            float: right;

        }
    }

    .logo {
        margin-top: 40px;
        height: 100px;
        display: flex;
        justify-content: center;


        img {
            max-height: 100%;

        }
    }
}

ion-icon {
    height: 36px;
    width: 36px;

}

ion-item {
    padding: 10px;


}

h2, p {
    font-family: PoppinsLight !important;
}

.details-btns-wrapper {
    padding: 0px 5px 0px 20px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
ion-button {
    margin-right: 20px;
}