<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="backward">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <h3 class="form-header">Song Details</h3>
    <ion-item>
     
      <ion-label position="stacked">
         Song Title
      </ion-label>
      <ion-input placeholder="{{song.name}}"></ion-input>
    </ion-item>
    <ion-item>
     
      <ion-label position="stacked">
         Artist Name
      </ion-label>
      <ion-input placeholder="{{song.artist}}"></ion-input>
    </ion-item>
    <ion-item>

      <ion-label position="stacked">
         Album Name
      </ion-label>
      <ion-input placeholder="{{song.album}}"></ion-input>
    </ion-item>
    <ion-item>
     
      <ion-label position="stacked">
        File Path
      </ion-label>
      <ion-input placeholder="{{song.file}}"></ion-input>
    </ion-item>
    <ion-buttons class="details-btns-wrapper">
<ion-button class='detail-button-text' slot="start" color="secondary" [routerLink]="['/edit/', song.id]">Edit</ion-button>
<ion-button class="detail-button-text" slot="end" color="danger" (click)="deleteSong(song.id, song.name, song.artist, song.file)">Remove</ion-button>
</ion-buttons>
</ion-content>
