<ion-header>
  <ion-toolbar>
    <ion-title>add-song</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()" color="medium">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Add Song</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()">Confirm</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-item>
        <ion-label position="stacked">Enter song name</ion-label>
        <ion-input type="text" placeholder="Song name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Enter artist</ion-label>
        <ion-input type="text" placeholder="Artist name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Enter file</ion-label>
        <ion-input type="text" placeholder="File"></ion-input>
    </ion-item>

</ion-content>
</ion-content>
