<ion-header>
  <ion-toolbar>
      <ion-title>Edit Song</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content>
 
    <form [formGroup]="updateSongForm" (ngSubmit)="updateForm()">
      <!--Header-->
        <h3  class="form-header">Edit Details</h3>

      <ion-item>
        <ion-label position="stacked">Song Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Artist Name</ion-label>
        <ion-input formControlName="artist" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Album Name</ion-label>
        <ion-input formControlName="album" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Song File</ion-label>
        <ion-input formControlName="file" type="file" (change)="chooseFile($event)"></ion-input>
      </ion-item>

      <ion-button class="edit-btn" expand="block" type="submit" [disabled]="!updateSongForm.valid">
        Update Song
      </ion-button>
    </form>
 
</ion-content>
