ion-content {
  position: relative;
}

ion-title {
  --color: rgb(121, 121, 121);
  font-size: 18px;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-list-header {
  background-image: linear-gradient(-90deg,
      #ff53c8,
      
      #6e57f3);
  text-transform: uppercase;
  border-radius: 10px;
   
 ion-label {
 font-size: 18px;
  font-family: PoppinsMed;
  font-weight: 600;
  letter-spacing: 1px;
 
 }
}

ion-header {
 
  margin-bottom: 40px;
 
  ion-toolbar {
 
    display: flex;
    
    ion-button {
       float: right;
      
    }
  }
  
  .logo {
    margin-top: 40px;
    height: 100px;
    display: flex;
      justify-content: center;
     

    img {
      max-height: 100%;

    }
  }
}

ion-icon {
  height: 36px;
  width: 36px;
  cursor: pointer;
}

.add-song-btn {
 width: 35px;
 height: 35px;
 cursor: pointer;
}

ion-list {
  padding: 10px;

  ion-label {
    font-family: PoppinsLight;
      cursor: pointer;

     
  }
}

ion-button {
  margin-right: 20px;
}

ion-footer {
  ion-toolbar {
    ion-row {

  
          .progress-bar {
            background-color: rgb(48, 48, 48);
            border-radius: 30px;
            margin: 0 auto;
            padding: 0px 10px;
          }
          .active-title-text {
            margin: 0;
            padding: 15px;
            font-size: 18px;
            font-family: PoppinsReg;
          }
          .active-artist-text {
            margin: 0;
            padding: 0;
            font-weight: lighter;
            font-family: PoppinsLight;
            margin-top: -24px;
            padding-bottom: 5px;
            color: #989898;
          }
          .player-btns-container {
            
                margin: 0 auto;
                padding: 10px;
                ion-button {
                  ion-icon {
                    height: 30px;
                    width: 30px;
                  }
                }
          }
       
    }
  }
}
 
 
 