<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="logo"><img src="../../assets/SVG/LOGO.svg" alt="Logo" /></div>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Song List-->

  <!--Header-->
  <ion-item lines="full">
    <ion-label>
      <h1>Songs</h1>
    </ion-label>
    <ion-buttons>
      <ion-button routerLink="/create">
        <ion-icon  class="add-song-btn" name="add-circle-sharp" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <!--Item-->
  <ion-list>
    <ion-item *ngFor="let song of songList | async" routerLink="/detail/{{song.id}}">
      <ion-icon name="play-circle" slot="start"></ion-icon>
      <ion-label>
        <h2>{{song.name}}</h2>
        <p>{{song.artist}}</p>
      </ion-label>
    </ion-item>
    <!-- <ion-item-options side="end">
        <ion-item-option>Edit</ion-item-option>
        <ion-item-option color="danger">Delete</ion-item-option>
      </ion-item-options> -->
  </ion-list>
</ion-content>